:root {
  /* Breakpoints */
  --mantine-breakpoint-xs: 576px;
  --mantine-breakpoint-sm: 768px;
  --mantine-breakpoint-md: 992px;
  --mantine-breakpoint-lg: 1200px;
  --mantine-breakpoint-xl: 1408px;

  /* Container sizes */
  --container-xs: 100%;
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --container-xxl: 1360px;

  /* Blue colors */
  --blue-0: #f4f9fd;
  --blue-1: #dfedf7;
  --blue-2: #cde0ef;
  --blue-3: #a6c8e3;
  --blue-4: #5998c9;
  --blue-5: #4d91c7;
  --blue-6: #0061af;
  --blue-7: #004e8c;
  --blue-8: #003762;
  --blue-9: #00223d;

  /* Red colors */
  --red-0: #fdf4f6;
  --red-1: #fdebef;
  --red-2: #faccd6;
  --red-3: #f6a6b8;
  --red-4: #f1738f;
  --red-5: #ee4d71;
  --red-6: #e60033;
  --red-7: #c4002b;
  --red-8: #a10024;
  --red-9: #730019;

  /* Grey colors */
  --grey-0: #ffffff;
  --grey-1: #f5f6f9;
  --grey-2: #eceff4;
  --grey-3: #cad3df;
  --grey-4: #8493a8;
  --grey-5: #65778a;
  --grey-6: #536679;
  --grey-7: #3b5161;
  --grey-8: #223a4a;
  --grey-9: #0a2432;

  /* Green colors */
  --green-0: #f6fcf8;
  --green-1: #f1faf4;
  --green-2: #ddf3e4;
  --green-3: #c4ead0;
  --green-4: #a2deb4;
  --green-5: #77cf92;
  --green-6: #55c377;
  --green-7: #48a665;
  --green-8: #337547;
  --green-9: #245232;

  /* Yellow colors */
  --yellow-0: #fff9eb;
  --yellow-1: #fef1d2;
  --yellow-2: #fee9b9;
  --yellow-3: #fde2a5;
  --yellow-4: #fcd476;
  --yellow-5: #fbc444;
  --yellow-6: #fab005;
  --yellow-7: #c88d04;
  --yellow-8: #966a03;
  --yellow-9: #644602;
}

.container {
  width: 100%;
  max-width: var(--container-xs);
  margin: 0 auto;

  /* Breakpoints */
  @media screen and (min-width: 576px) {
    max-width: var(--container-sm);
  }
  @media screen and (min-width: 768px) {
    max-width: var(--container-md);
  }
  @media screen and (min-width: 992px) {
    max-width: var(--container-lg);
  }
  @media screen and (min-width: 1200px) {
    max-width: var(--container-xl);
  }
  @media screen and (min-width: 1408px) {
    max-width: var(--container-xxl);
  }
}

* {
  box-sizing: border-box;
}

:focus,
:focus-visible {
  outline: 2px solid var(--blue-6);
  outline-offset: 2px;
}

:focus:not(:focus-visible) {
  outline: none;
}

img {
  display: block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

html {
  color: #0a2432;
  font-family: "Montserrat", sans-serif;
}

::-moz-selection {
  background: var(--blue-3);
  text-shadow: none;
}

::selection {
  background: var(--blue-3);
  text-shadow: none;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid var(--grey-1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 16px;
}

section,
header,
footer {
  width: 100%;
  padding: 0 16px;
  @media screen and (min-width: 576px) {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .only-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 1199px) {
  .only-desktop {
    display: none !important;
  }
}

/* Header styles */
.header {
  position: fixed;
  top: 4px;
  right: 0;
  left: 0;
  z-index: 100;

  @media screen and (min-width: 1200px) {
    top: 12px;
  }
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 48px;
  align-items: center;
  gap: 16px;
  height: 72px;
  padding: 12px 12px 12px 8px;
  border-radius: 200px;
  box-shadow: 0 0 20px 0 #073b660f, 0 0 4px 0 #073b660a;
  background: var(--grey-0);

  @media screen and (min-width: 1200px) {
    grid-template-columns: auto 1fr auto auto;
    height: 80px;
    padding: 4px 16px;
  }
}

.header__logo {
  width: 100px;
  height: 48px;

  @media (min-width: 1200px) {
    width: 148px;
    height: 72px;
  }
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.header__burger img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Мобільне меню */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  background: var(--grey-0);
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu--active {
  transform: translateX(0);
}

.mobile-menu__header {
  display: grid;
  grid-template-columns: 1fr 48px;
  align-items: center;
  gap: 16px;
  padding: 12px 28px 12px 24px;
  border-bottom: 1px solid var(--grey-1);
}

.mobile-menu__logo {
  width: 100px;
  height: 48px;
}

.mobile-menu__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobile-menu__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.mobile-menu__close img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobile-menu__cta-button {
  display: block;
  margin: 16px;
  padding: 12px 24px;
  border-radius: 200px;
  background: var(--red-7);
  color: var(--grey-0);
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  transition: background 250ms ease-in-out;
}

.mobile-menu__cta-button:hover,
.mobile-menu__cta-button:focus {
  background: var(--red-8);
}

.mobile-menu__nav {
  flex: 1;
  padding: 16px;
  border-top: 1px solid var(--grey-1);
}

.mobile-menu__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-menu__nav-link {
  display: block;
  padding: 10px 12px;
  color: var(--grey-9);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  transition: color 250ms ease-in-out;
}

.mobile-menu__nav-link:hover,
.mobile-menu__nav-link:focus {
  color: var(--red-7);
}

.mobile-menu__language-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 16px;
  padding: 8px 24px;
  border-radius: 12px;
  background-color: var(--blue-0);
  color: var(--blue-6);
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  transition: background-color 250ms ease-in-out;
}

.mobile-menu__language-link:hover,
.mobile-menu__language-link:focus {
  background-color: var(--blue-1);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav-link {
  display: block;
  padding: 4px 0;
  color: var(--grey-9);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  transition: color 250ms ease-in-out;
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: var(--red-7);
}

.header__language-switcher {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  border-radius: 200px;
  color: var(--blue-6);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  transition: background-color 250ms ease-in-out;
}

.header__language-switcher-next-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  width: 24px;
  height: 24px;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 150ms ease-in-out, background-color 150ms ease-in-out;
}

.header__language-switcher span {
  position: relative;
  color: var(--grey-0);
  transition: color 150ms ease-in-out;
}

.header__language-switcher span::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  color: var(--blue-6);
  transition: opacity 150ms ease-in-out;
}

.header__language-switcher[data-current-language="uk"] span::before {
  content: "UA";
}

.header__language-switcher[data-current-language="ru"] span::before {
  content: "RU";
}

.header__language-switcher:hover,
.header__language-switcher:focus {
  background-color: var(--blue-1);
}

.header__language-switcher:hover .header__language-switcher-next-icon,
.header__language-switcher:focus .header__language-switcher-next-icon {
  opacity: 1;
  background-color: var(--blue-1);
}

.header__language-switcher:hover span,
.header__language-switcher:focus span {
  color: var(--blue-6);
}

.header__language-switcher:hover span::before,
.header__language-switcher:focus span::before {
  opacity: 0;
}

.header__cta-button {
  display: block;
  padding: 10px 20px;
  border-radius: 200px;
  background-color: var(--red-7);
  color: var(--grey-0);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  transition: background-color 250ms ease-in-out;
}

.header__cta-button:hover,
.header__cta-button:focus {
  background-color: var(--red-8);
}

.hero {
  position: relative;
  border-radius: 0 0 32px 32px;
  border: 1px solid var(--grey-0);
  border-top: none;
  background-image: url("/img/section-hero/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask-image: -webkit-linear-gradient(
    to bottom,
    #000 80%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hero:has(video) {
  background-image: url("/img/section-hero/background_base.jpg");
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 124px 0 144px;
  z-index: 0;

  @media screen and (min-width: 576px) {
    padding: 136px 0 132px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 132px;
  }

  @media screen and (min-width: 992px) {
    padding-bottom: 224px;

    padding-left: 32px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 284px;

    gap: 10px;
    align-items: center;
  }

  @media screen and (min-width: 1408px) {
    gap: 58px;
  }
}

.hero__background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: screen;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/section-hero/stars.svg"),
    url("/img/section-hero/snow.svg");
  background-size: cover, cover;
  background-position: 50px center, center center;
  background-repeat: no-repeat, no-repeat;
  z-index: -1;
  opacity: 0.7;
}

.hero__content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 992px) {
    align-items: flex-start;
  }
}

.hero__title {
  color: var(--grey-0);
  margin: 0 0 8px;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.3;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 1.2;
  }

  @media screen and (min-width: 992px) {
    font-size: 80px;
    line-height: 1.1;
    text-align: left;
  }
}

.hero__description {
  color: var(--grey-0);
  margin-bottom: 24px;
  text-align: center;
  font-size: 16px;
  line-height: 1.75;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.55;
  }

  @media screen and (min-width: 992px) {
    text-align: left;
  }
}

.hero__cta-button {
  grid-area: content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  margin-bottom: 36px;
  padding: 12px 24px;
  border-radius: 200px;
  background-color: var(--grey-0);
  color: var(--red-7);
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  transition: background-color 250ms ease-in-out;
  z-index: 2;

  @media screen and (min-width: 576px) {
    margin-bottom: 24px;
    padding: 16px 24px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: auto;
  }
}

.hero__cta-button:hover,
.hero__cta-button:focus {
  background-color: var(--red-0);
}

.hero__cta-icon {
  width: 24px;
  height: 24px;
  transition: transform 250ms ease-in-out;
  object-fit: contain;

  @media screen and (min-width: 576px) {
    width: 28px;
    height: 28px;
  }
}

.hero__cta-button:hover .hero__cta-icon,
.hero__cta-button:focus .hero__cta-icon {
  transform: translateX(4px);
}

.hero__illustration {
  display: block;
  width: 328px;
  height: 328px;
  object-fit: contain;
  object-position: center;

  @media screen and (min-width: 576px) {
    width: 544px;
    height: 544px;
  }

  @media screen and (min-width: 768px) {
    width: 560px;
    height: 560px;
  }

  @media screen and (min-width: 992px) {
    width: 428px;
    height: 428px;
    margin-top: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 467px;
    height: 467px;
    margin-top: 0;
  }

  @media screen and (min-width: 1408px) {
    width: 560px;
    height: 560px;
  }
}

/* Title styles */
.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.37;
  text-align: center;

  @media screen and (min-width: 992px) {
    font-size: 60px;
    line-height: 1.26;
  }
}

.title-accent {
  color: var(--red-7);
}

.title-icon {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  object-fit: contain;
  object-position: center;

  @media screen and (min-width: 992px) {
    width: 74px;
    height: 76px;
  }
}

/* Offers section styles */
.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 96px;

  @media screen and (min-width: 992px) {
    padding-top: 120px;
  }
}

.offers__title {
  margin: 0 0 32px;

  @media screen and (min-width: 992px) {
    margin-bottom: 48px;
  }
}

.only-desktop-br {
  display: none;
  @media screen and (min-width: 992px) {
    display: inline;
  }
}

.offers__cta-button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 200px;
  background-color: var(--red-7);
  color: var(--grey-0);
  text-decoration: none;
  font-weight: 500;
  transition: background-color 250ms ease-in-out;
  z-index: 1;
  font-size: 16px;
  line-height: 1.75;

  @media screen and (min-width: 576px) {
    padding: 16px 24px;
    font-size: 20px;
    line-height: 1.6;
  }

  @media screen and (min-width: 768px) {
    width: max-content;
  }
}

.offers__cta-button:hover,
.offers__cta-button:focus {
  background-color: var(--red-8);
}

.offers__cta-icon {
  width: 24px;
  height: 24px;
  transition: transform 250ms ease-in-out;
  object-fit: contain;
}

.offers__cta-button:hover .offers__cta-icon,
.offers__cta-button:focus .offers__cta-icon {
  transform: translateX(4px);
}

/* Products slider styles */
.products-slider {
  max-width: 100%;

  margin-bottom: 32px;

  @media screen and (min-width: 576px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 48px;
  }
}

.products {
  @media screen and (min-width: 1200px) {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

.products__item {
}

.products__link {
  text-decoration: none;
  display: block;
}

.products__card {
  display: block;
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 32px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 328px;
    height: 328px;
  }

  @media screen and (min-width: 1200px) {
    width: 272px;
    height: 272px;
  }

  @media screen and (min-width: 1408px) {
    width: 328px;
    height: 328px;
  }
}

.products__card::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    #004e8c 8.41%,
    rgba(0, 78, 140, 0.776) 22.26%,
    rgba(0, 78, 140, 0.491) 30.43%,
    rgba(0, 78, 140, 0.191) 39.21%,
    rgba(0, 78, 140, 0) 52.79%
  );
  transition: transform 250ms ease-in-out;
  transform-origin: bottom center;
}

.products__card:hover::before {
  transform: scale(1.2);
}

.products__card::after {
  z-index: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--grey-0);
  background-image: url("/img/icons/arrow_right_up.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
  content: "";
  border: 2px solid var(--grey-0);
  transition: transform 250ms ease-in-out, border-color 250ms ease-in-out,
    background-color 250ms ease-in-out;

  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
    width: 52px;
    height: 52px;
    background-size: 32px;
  }
}

.products__card:hover::after {
  background-color: var(--blue-1);
  border-color: var(--blue-7);
  transform: rotate(45deg);
}

.products__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.products__card-header {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-end;
  gap: 8px;
  width: 100%;
  padding: 24px;
  z-index: 1;
}

.products__card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: var(--grey-0);
  margin: 0;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.products__card-price {
  padding: 4px 8px;
  border-radius: 12px;
  background-color: var(--grey-0);
  color: var(--blue-6);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.products-slider__buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 52px auto 52px;
  align-items: center;
  gap: 8px;

  @media screen and (min-width: 576px) {
    grid-template-columns: 64px auto 64px;
    gap: 12px;
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.products-slider__button--prev,
.products-slider__button--next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
  border-radius: 50%;
  padding: 0;
  box-shadow: 0 1px 8px 0 #073b660f, 0 0 4px 0 #073b660a;

  @media screen and (min-width: 576px) {
    width: 64px;
    height: 64px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.products-slider__button--prev:hover,
.products-slider__button--next:hover {
  background-color: var(--red-1);
}

.products-slider__button--prev:active,
.products-slider__button--next:active {
  background-color: var(--red-2);
}

.products-slider__button--prev {
  transform: rotate(180deg);
}

/* Pattern section styles */
.pattern {
  height: 112px;
  position: relative;
  overflow: hidden;
  background: url("/img/icons/snowflake_pattern.svg") repeat-x center / auto;
  background-size: cover;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: 180px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-75%);
  }
}

.pattern__content {
  display: flex;
  transform: translateX(-25%);
  animation: scroll 200s linear infinite;
}

.pattern__inner-content {
  display: flex;
}

.pattern__content::before,
.pattern__content::after,
.pattern__inner-content::before,
.pattern__inner-content::after {
  content: "MEEST CHINA SHOP • MEEST CHINA SHOP • MEEST CHINA SHOP • MEEST CHINA SHOP • MEEST CHINA SHOP • MEEST CHINA SHOP • MEEST CHINA SHOP • MEEST CHINA SHOP • MEEST CHINA SHOP • ";
  font-weight: 500;
  display: block;
  white-space: nowrap;

  font-size: 32px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--blue-3);

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.33;
  }
}

/* Categories section styles */
.categories {
  padding-top: 96px;
  padding-bottom: 96px;

  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media screen and (min-width: 1408px) {
    padding-top: 160px;
  }
}

.categories__section-container {
  background-image: url("/img/section-categories/background_360.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 24px;
  position: relative;
  max-width: 1154px;
  margin: 0 auto;
  padding: 64px 16px;

  @media screen and (min-width: 576px) {
    background-image: url("/img/section-categories/background_576.jpg");
  }

  @media screen and (min-width: 768px) {
    padding: 80px 16px;

    border-radius: 32px;
    background-image: url("/img/section-categories/background_768.jpg");
  }

  @media screen and (min-width: 992px) {
    background-image: url("/img/section-categories/background_992.jpg");
  }

  @media screen and (min-width: 1200px) {
    background-image: url("/img/section-categories/background_1200.jpg");
  }
}

.categories__section-container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -6px;
  background-image: url("/img/section-categories/snow.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  width: calc(100% + 12px);
  height: 84px;

  @media screen and (min-width: 576px) {
    width: 552px;
    height: 100px;
  }

  @media screen and (min-width: 768px) {
    width: 740px;
    height: 172px;
    left: -12px;
    top: -40px;
  }

  @media screen and (min-width: 992px) {
    width: 986px;
    height: 176px;
  }

  @media screen and (min-width: 1200px) {
    width: 1156px;
    height: 172px;
    left: -16px;
    top: -40px;
  }

  @media screen and (min-width: 1408px) {
    width: 1174px;
    height: 172px;
    left: -12px;
    top: -40px;
  }
}

.categories__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.37;
  text-align: center;
  margin: 0 0 8px;
  color: var(--grey-0);

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 992px) {
    font-size: 60px;
    line-height: 1.26;
  }
}

.categories__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  margin: 0 0 32px;
  color: var(--grey-0);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.55;
  }

  @media screen and (min-width: 992px) {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 56px;
  }
}

.categories__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media screen and (min-width: 992px) {
    gap: 24px;
  }
}

.categories__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  overflow: hidden;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--grey-0);
  padding: 4px 20px 4px 8px;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;

  @media screen and (min-width: 992px) {
    padding: 4px 28px 4px 8px;
  }
}

.categories__link:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.categories__link:active {
  transform: scale(0.98);
}

.categories__link img {
  width: 60px;
  height: 60px;
  object-fit: contain;

  @media screen and (min-width: 992px) {
    width: 80px;
    height: 80px;
  }
}

/* How to order section styles */
.how-to-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;

  @media screen and (min-width: 992px) {
    padding-bottom: 120px;
  }
}

.how-to-order__title {
  margin: 0 0 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 992px) {
    margin-bottom: 24px;
  }
}

.only-576-992-br {
  display: none;

  @media screen and (min-width: 576px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 992px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.how-to-order__description {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  margin: 0 0 32px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.6;
  }

  @media screen and (min-width: 992px) {
    margin-bottom: 48px;
  }
}

.how-to-order__list {
  list-style: none;
  padding: 48px 0 0;
  margin: 0 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 68px;
  align-items: stretch;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 84px 20px;
  }

  @media screen and (min-width: 992px) {
    margin-bottom: 48px;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}

.how-to-order__item {
  border: 1px solid #faccd6;
  box-shadow: 0px 0px 12px 2px #f6a6b899;
  background-color: #fdf4f6;
  border-radius: 16px;
  padding: 60px 20px 20px;
  position: relative;

  font-size: 18px;
  line-height: 1.55;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.6;
  }
}

.how-to-order__item img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  object-fit: contain;
  object-position: center;
}

.how-to-order__item-number {
  font-weight: 600;
  color: var(--red-7);
}

.how-to-order__cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 200px;
  background-color: var(--red-7);
  color: var(--grey-0);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  transition: background-color 250ms ease-in-out;

  @media screen and (min-width: 576px) {
    padding: 16px 24px;
    font-size: 20px;
    line-height: 1.6;
  }

  @media screen and (min-width: 768px) {
    width: auto;
  }
}

.how-to-order__cta-button:hover,
.how-to-order__cta-button:focus {
  background-color: var(--red-8);
}

.how-to-order__cta-icon {
  width: 24px;
  height: 24px;
  transition: transform 250ms ease-in-out;
  object-fit: contain;

  @media screen and (min-width: 576px) {
    width: 28px;
    height: 28px;
  }
}

.how-to-order__cta-button:hover .how-to-order__cta-icon,
.how-to-order__cta-button:focus .how-to-order__cta-icon {
  transform: translateX(4px);
}

/* Why Us Section */
.why-us {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 96px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 132px;
  }
}

.why-us__title {
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 16px;
  padding: 0 16px;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.37;
  grid-column: 1 / -1;

  @media screen and (min-width: 576px) {
    padding: 0 0 13px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    padding: 12px 0 32px;
  }

  @media screen and (min-width: 992px) {
    padding: 4px 0 0;
    font-weight: 500;
    font-size: 60px;
    line-height: 1.4;
  }

  @media screen and (min-width: 1200px) {
    padding: 4px 0 16px;
  }

  @media screen and (min-width: 1408px) {
    padding: 12px 0 28px;
  }
}

.why-us__title::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  opacity: 0.5;
  color: var(--blue-1);
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 34px;
  white-space: nowrap;
  letter-spacing: 0.015em;

  @media screen and (min-width: 576px) {
    font-size: 80px;
    line-height: 57px;
    letter-spacing: 0.01em;
  }

  @media screen and (min-width: 768px) {
    font-size: 104px;
    line-height: 75px;
    letter-spacing: 0.015em;
  }

  @media screen and (min-width: 992px) {
    font-size: 122px;
    line-height: 88px;
    letter-spacing: 0.0175em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 145px;
    line-height: 104px;
    letter-spacing: 0.01em;
  }

  @media screen and (min-width: 1408px) {
    font-size: 173px;
    line-height: 124px;
    letter-spacing: 0.01em;
  }
}

.why-us__title[data-current-language="uk"]::before {
  content: "Наш сервіс";
}

.why-us__title[data-current-language="ru"]::before {
  content: "Наш сервис";
}

.why-us__article-container {
  position: relative;
  height: 100%;
}

.why-us__article {
  position: sticky;
  top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 32px 0;
  border: 1px solid var(--blue-1);
  border-radius: 24px;
  background: url("/img/section-why-us/background.svg"),
    linear-gradient(180deg, #f4f9fd 0%, #dfedf7 100%);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto, 100% 100%;

  @media screen and (min-width: 992px) {
    top: 92px;
  }
}

.why-us__article-title {
  margin: 0 0 4px;
  color: var(--blue-6);
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.why-us__article-text {
  margin: 0 0 24px;
  text-align: center;
  font-size: 16px;
  line-height: 1.75;

  @media screen and (min-width: 576px) {
    font-size: 18px;
    line-height: 1.55;
  }
}

.why-us__article-image {
  width: 200px;
  height: 268px;

  @media screen and (min-width: 768px) {
    width: 283px;
    height: 380px;
  }

  @media screen and (min-width: 992px) {
    width: 387px;
    height: 520px;
  }

  @media screen and (min-width: 1200px) {
    width: 345px;
    height: 464px;
  }

  @media screen and (min-width: 1408px) {
    width: 304px;
    height: 408px;
  }
}

.why-us__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.why-us__item {
  padding: 16px;
  border: 1px solid var(--blue-1);
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--blue-0);
}

.why-us__item-title {
  margin: 0 0 4px;
  color: var(--blue-6);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.why-us__item-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.75;

  @media screen and (min-width: 576px) {
    font-size: 18px;
    line-height: 1.55;
  }
}

/* Call to Action section styles */
.cta {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 96px;
  padding: 16px 24px 24px;
  border-radius: 32px;
  overflow: hidden;
  background: linear-gradient(90deg, #f4f9fd 0%, #dfedf7 49.62%, #f4f9fd 100%);

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr auto;
    gap: 32px;
    margin-bottom: 132px;
    padding: 0 32px;
  }

  @media screen and (min-width: 992px) {
    gap: 64px;
    padding: 0 48px;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: auto 1fr auto;
    gap: 48px;
  }

  @media screen and (min-width: 1408px) {
    gap: 64px;
  }
}

.cta::before,
.cta::after {
  display: block;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";

  @media screen and (min-width: 768px) {
    width: 312px;
    height: 312px;
  }

  @media screen and (min-width: 1200px) {
    width: 280px;
    height: 280px;
  }
}

.cta::before {
  display: none;
  background-image: url("/img/section-cta/image-1.png");

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.cta::after {
  background-image: url("/img/section-cta/image-2.png");
  order: -1;

  @media screen and (min-width: 768px) {
    order: 1;
  }
}

.cta__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: 768px) {
    gap: 24px;
  }
}

.cta__title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.4;
}

.cta__title-accent {
  color: var(--blue-6);
}

.cta__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 200px;
  background-color: var(--blue-6);
  color: var(--grey-0);
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  transition: background-color 250ms ease-in-out;

  @media screen and (min-width: 768px) {
    width: auto;
  }
}

.cta__button:hover,
.cta__button:focus {
  background-color: var(--blue-7);
}

.cta__icon {
  width: 24px;
  height: 24px;
  transition: transform 250ms ease-in-out;
  object-fit: contain;
}

.cta__button:hover .cta__icon,
.cta__button:focus .cta__icon {
  transform: translateX(4px);
}

/* Footer styles */
.footer {
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding: 32px 0 16px;
  border-radius: 16px;
  background-color: var(--grey-9);
  grid-template-areas:
    "logo"
    "nav"
    "pattern"
    "copyright";
  grid-template-rows: auto auto auto;

  @media screen and (min-width: 992px) {
    grid-template-columns: auto 1fr;
    padding: 40px 0 16px;
    border-radius: 24px;
    grid-template-areas:
      "logo nav"
      "pattern pattern"
      "copyright copyright";
  }
}

.footer__container::after {
  display: block;
  width: auto;
  max-width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding: 0 24px;
  background-image: url("/img/section-footer/pattern.svg");
  background-repeat: repeat-x;
  background-position: center center;
  background-size: contain;
  content: "";
  grid-area: pattern;

  @media screen and (min-width: 992px) {
    height: 60px;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  grid-area: logo;

  @media screen and (min-width: 992px) {
    margin-left: 40px;
  }
}

.footer__logo-img {
  width: 108px;
  height: 44px;
  object-fit: contain;
}

.footer__nav {
  margin-bottom: 48px;
  grid-area: nav;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;

  @media screen and (min-width: 992px) {
    flex-direction: row;
    gap: 32px;
    margin-right: 40px;
  }
}

.footer__nav-link {
  padding: 4px 0;
  color: var(--grey-0);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  transition: color 250ms ease-in-out;
}

.footer__nav-link:hover,
.footer__nav-link:focus {
  color: var(--blue-6);
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: copyright;
}

.footer__copyright-text {
  color: var(--grey-4);
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
