:root {
  /* Breakpoints */
  --mantine-breakpoint-xs: 576px;
  --mantine-breakpoint-sm: 768px;
  --mantine-breakpoint-md: 992px;
  --mantine-breakpoint-lg: 1200px;
  --mantine-breakpoint-xl: 1408px;

  /* Container sizes */
  --container-xs: 100%;
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --container-xxl: 1360px;

  /* Blue colors */
  --blue-0: #f4f9fd;
  --blue-1: #dfedf7;
  --blue-2: #cde0ef;
  --blue-3: #a6c8e3;
  --blue-4: #5998c9;
  --blue-5: #4d91c7;
  --blue-6: #0061af;
  --blue-7: #004e8c;
  --blue-8: #003762;
  --blue-9: #00223d;

  /* Red colors */
  --red-0: #fdf4f6;
  --red-1: #fdebef;
  --red-2: #faccd6;
  --red-3: #f6a6b8;
  --red-4: #f1738f;
  --red-5: #ee4d71;
  --red-6: #e60033;
  --red-7: #c4002b;
  --red-8: #a10024;
  --red-9: #730019;

  /* Grey colors */
  --grey-0: #ffffff;
  --grey-1: #f5f6f9;
  --grey-2: #eceff4;
  --grey-3: #cad3df;
  --grey-4: #8493a8;
  --grey-5: #65778a;
  --grey-6: #536679;
  --grey-7: #3b5161;
  --grey-8: #223a4a;
  --grey-9: #0a2432;

  /* Green colors */
  --green-0: #f6fcf8;
  --green-1: #f1faf4;
  --green-2: #ddf3e4;
  --green-3: #c4ead0;
  --green-4: #a2deb4;
  --green-5: #77cf92;
  --green-6: #55c377;
  --green-7: #48a665;
  --green-8: #337547;
  --green-9: #245232;

  /* Yellow colors */
  --yellow-0: #fff9eb;
  --yellow-1: #fef1d2;
  --yellow-2: #fee9b9;
  --yellow-3: #fde2a5;
  --yellow-4: #fcd476;
  --yellow-5: #fbc444;
  --yellow-6: #fab005;
  --yellow-7: #c88d04;
  --yellow-8: #966a03;
  --yellow-9: #644602;
}

.container {
  width: 100%;
  max-width: var(--container-xs);
  margin: 0 auto;

  /* Breakpoints */
  @media (min-width: var(--mantine-breakpoint-xs)) {
    max-width: var(--container-sm);
  }
  @media (min-width: var(--mantine-breakpoint-sm)) {
    max-width: var(--container-md);
  }
  @media (min-width: var(--mantine-breakpoint-md)) {
    max-width: var(--container-lg);
  }
  @media (min-width: var(--mantine-breakpoint-lg)) {
    max-width: var(--container-xl);
  }
  @media (min-width: var(--mantine-breakpoint-xl)) {
    max-width: var(--container-xxl);
  }
}

html {
  color: #0a2432;
}

::-moz-selection {
  background: var(--blue-3);
  text-shadow: none;
}

::selection {
  background: var(--blue-3);
  text-shadow: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
